

html {
   overflow-y: scroll;
}
body{
    transition: all 0.5s ease;
}
body, #wrapper, #content{
    background-color: #F2F0F0;
}
.dropdown-menu{
    left: -130px;
}
.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 150px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

#whiteBG{
  background-color: #fff!important;
}
#top-search form input{
    color: #fff;
}
#top-search a, #top-cart a, #side-panel-trigger a{
    line-height: 10px;
    color: #FFF;
    display: inline-block;
    margin-right: 15px;
    font-size: 15px;
}
body.top-search-open #top-search a i.icon-line-search, #top-search a i.icon-line-cross{
    opacity: 0;
}
 #header, #header.sticky-header #header-wrap{
    background-color: #000;
 }
 #header.sticky-header #header-wrap{
      z-index: 5;
 }
 #header.full-header #logo, #header.full-header #primary-menu > ul{
    border-right: none;
 }
 .wrappers{
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    padding: 10px 15px;
 }
 .content-wrap{
    padding: 20px 0;
 }
 .modal {
      display: block;
      box-shadow: 0 0 0 0!important;
    }
 .uploadBtn, .btn-group{
    float: right;
    color: white;
    margin-top: 10px;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f280aa+0,f45793+100 */
    background: #f280aa; /* Old browsers */
    background: -moz-linear-gradient(top,  #f280aa 0%, #f45793 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f280aa), color-stop(100%,#f45793)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f280aa 0%,#f45793 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f280aa 0%,#f45793 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f280aa 0%,#f45793 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f280aa 0%,#f45793 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f280aa', endColorstr='#f45793',GradientType=0 ); /* IE6-9 */

    padding: 5px 14.5px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px;
    border-radius: 2px;
    margin-left: 30px;
 }
 .uploadBtn:hover, .btn-group a:hover{
    color: #fff;
    cursor: pointer;
 }
.btn-group a{
  color: #fff!important;
}
.btn-group ul li a{
  color: #000!important;
}
.dropdown-menu > li > a{
    font-weight: 600;
    text-align: center;
}
.productUploadForm input[type="radio"] {
  background-color: #F272A2;  
  border-radius: 10px;  
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin: 0 2px 0 5px;
  position: relative;
  width: 15px;
  top: 2px;
  -webkit-appearance: none;
}

.productUploadForm input[type="radio"]:after {
  background-color: #EF5C94;
  border-radius: 25px;  
  content: '';
  display: block;
  height: 7px;
  left: 4px;
  position: relative;
  top: 4px;
  width: 7px;
}

.productUploadForm input[type="radio"]:checked:after {
  background-color: #F2F0F0;  
}

.productUploadForm label{
    color: #424242;
    text-transform: capitalize;
    letter-spacing: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

 #header, #header-wrap, #logo img, #primary-menu:not(.style-2), #primary-menu:not(.style-2) > ul, #primary-menu ul li a, 
 #header.sticky-header:not(.static-sticky){
    height: 50px;
 }
 #header.sticky-header:not(.static-sticky), #header.sticky-header:not(.static-sticky) #header-wrap, #header.sticky-header:not(.static-sticky):not(.sticky-style-2) #logo img, #header.sticky-header:not(.static-sticky) #primary-menu, #header.sticky-header:not(.static-sticky) #primary-menu > ul, #header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a{
    height: 51px!important;
 }
 #header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a{
    line-height: 50px;
 }
 #header.sticky-header:not(.static-sticky) #primary-menu > ul > li > ul, #header.sticky-header:not(.static-sticky) #primary-menu > ul > li > .mega-menu-content, #header.sticky-header:not(.static-sticky) #primary-menu > ul > li.mega-menu > .mega-menu-content{
    top: 50px;
 }
 #primary-menu ul li a{
    line-height: 50px;
    color: #fff;
    font-family: Montserrat, Roboto;
 }
 #primary-menu ul li i{
    line-height: 49px;
 }
 #primary-menu > ul > li:hover a, #primary-menu > ul > li.current a{
    color: #F45793;
 }
 #primary-menu ul ul, #primary-menu ul li .mega-menu-content, #primary-menu ul li.mega-menu .mega-menu-content, .floating-header.sticky-header #primary-menu ul li.mega-menu .mega-menu-content{
    top: 49px;
    border-top: 2px solid #F46299;
 }

 /* ============ CENTER ============== */
 .center{
      text-align: center !important;
      overflow: hidden;
      position: relative;      
 }
 .center .contentWrapper{    
    width: 80%;
    float: right;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    background-color: #000;
 }
 .center .contentWrapper .topBlack{
      position: absolute;
      background-color: rgba(0, 0, 0, 0.65);
      width: 100%;
      padding: 5px 10px 9px 10px;
 }
 .center .contentWrapper .topBlack .admire{
    color: #F276A4;
 }
 .center .contentWrapper .topBlack .admire i{
/*    position: relative;
    top: -3px;
    font-size: 11px;*/
 }
  .center .contentWrapper .topBlack .admire span{
      font-size: 11px!important;
      color: #D0D0D0!important;
      font-family: Roboto;
      position: relative;
      top: -4px;
      margin-left: 2px;
  }
 .center .contentWrapper .topBlack .send, .center .contentWrapper .topBlack .dislike{
    color: #D8D8D8;
 }
 .center .contentWrapper .topBlack h2{
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    text-align: left;
    margin-bottom: 0;
 }
 .center .contentWrapper .topBlack h2 span a{
      font-family: Roboto;
      color: rgb(160, 160, 160);
      font-size: 12px;
      display: block;
      margin-top: -3px;
      font-weight: 400;
      display: block;
 }
  .center .contentWrapper .topBlack ul{
      margin-bottom: 0;
      margin-top: 12px;
  }
  .center .contentWrapper .topBlack ul li a{
      font-size: 17px;
  }
  .center #commentform,  #commentform{
    margin-bottom: 0;
  }
 .center .commentCount{
    width: 20%;
    margin-top: 5px;
    float: left;
 }
 .center .commentCount .total a{
    display: block;
    font-weight: 500;
    font-size: 13px;
    color: #9A9A9A;
 }
.center .commentCount > img {
      border-radius: 50%;
      width: 60px;
      margin-left: 10px;
      margin-bottom: 5px;
}
.center .triangle{
    float:right;
    position: relative;
    top: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 12px 8px 0;
    border-color: transparent #141414 transparent transparent;
}
.center .description {
    padding: 20px 20px 10px 20px;
    font-weight: 400!important;
    font-size: 14px!important;
    text-align: left;
    line-height: 23px!important;
    margin-bottom: 10px;
}

/* ============== COMMENTS ================ */
.commentWrapper{
  padding: 0 30px;
  text-align: left;
}

.commentWrapper textarea{
  height: 70px;
  width: 100%;
  border: 0;
  border: 1px solid #C3C3C3;  
  font-family: Roboto;
  padding: 2px 10px;
}
.commentWrapper h3{
  margin-bottom: 10px;
  letter-spacing: -1px;
}
.commentWrapper h3 span{
    font-size: 13px;
    font-family: Roboto;
    color: #9D9D9D;
    position: relative;
    top: -1px;    
}
.commentWrapper ul{
  list-style: none;
  padding:0;
}
.commentWrapper li{
   border-bottom: 1px solid #efefef;
   padding-bottom: 10px;
   margin-bottom: 20px;
   overflow: hidden;
}
.commentWrapper img{
  width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.commentWrapper .commentDate{
  color: #B8B8B8;
  font-family: Roboto;
  font-weight: 500;
  font-size: 10px;
}
.commentWrapper .name a{
  color: #bc4369;
    font-family: Roboto;
    font-weight: 500;
}
.commentWrapper .commentContent{
   font-family: Roboto;
    font-size: 13px;
    color: #000;
    margin-left: 50px;
    margin-bottom: 0;
}
.commentWrapper input[type=submit]{
    margin: 0;
    margin-bottom: 20px;
    font-family: Roboto;
    font-weight: 500;
    background-color: transparent;
    border: 0;
    background-color: rgb(239, 66, 109);
    color: #fff;
    padding: 7px 15px;
    font-size: 15px;
    border-radius: 20px;
}

/* ============ LEFT SIDE ============= */
.left .profile img{
   width: 40px;
   border-radius: 50%;
   float: left;
   margin-right: 10px;
}
.left .profile p, .left .coinTotal p{
  font-family: roboto;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 0;
}
.left .profile ul.stars{
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.left .profile ul.stars li{
  display: inline-block;
}
.left .profile ul.stars li i{
 color: rgba(241, 246, 13, 0.99);  
}
.left .selectItem{
  font-size: 12px;
  font-family: Roboto;
  color: #979393;
  display: block;
  line-height: 15px!important;
  margin-top: 10px;
  margin-bottom: 15px;            
}
.left .coinTotal img{
  width: 45px;
  float: left;
  margin-right: 10px;
  margin-top: 11px;
}
.left .coinTotal p{
  margin-left: 65px;
}
.left .coinTotal h3{  
  font-size: 35px;
  letter-spacing: -1px;
  margin-top: -10px;
  margin-bottom: 0;
  text-align: center;
}
.left .dailyOffer p{
  text-transform: uppercase;
  color: #646464;
  margin-bottom: 13px;
  margin-top: 0;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}
.left .dailyOffer i {
  color: #ffcc23;
}
.left .dailyOffer a{
  display: block;
  margin-bottom: 10px;
}
.meter { 
  height: 10px;
  position: relative;
  background: #efefef;
  overflow: hidden;
  border-radius: 30px;
  margin-bottom: 15px;
  -moz-box-shadow: inset 0 0 6px -4px #646464;
 -webkit-box-shadow: inset 0 0 6px -4px #646464;
  box-shadow: inset 0 0 6px -4px #646464;
  margin-top: 20px;
}

.meter span {
  display: block;
  height: 100%;
}


.progress {
  background-color: #f45793;
  -webkit-animation: progressBar 1s ease-in-out;
  -webkit-animation-fill-mode:both; 
  -moz-animation: progressBar 1s ease-in-out;
  -moz-animation-fill-mode:both; 
  
  -moz-box-shadow: inset 0 0px 5px rgba(236, 31, 109, 0.38)
  -webkit-box-shadow: inset 0 0px 5px rgba(236, 31, 109, 0.38)
  box-shadow: inset 0 0px 5px rgba(236, 31, 109, 0.38)
}

@-webkit-keyframes progressBar {
0% { width: 0; }
100% { width: 100%; }
}

@-moz-keyframes progressBar {
0% { width: 0; }
100% { width: 100%; }
}

.progress2 {
  background: #f45793 url('thermoterBG.jpg') no-repeat center;
  -webkit-animation: progressBar 1s ease-in-out;
  -webkit-animation-fill-mode:both; 
  -moz-animation: progressBar 1s ease-in-out;
  -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar2 {
0% { width: 0; }
100% { width: 100%; }
}

@-moz-keyframes progressBar2 {
0% { width: 0; }
100% { width: 100%; }
}

.right .listWrapper h3{
  font-size: 11px;
  font-family: Roboto;
  margin-bottom: 15px;
  color: rgb(100, 94, 94);
  font-weight: 600;
  text-transform: uppercase;
}
.right .wrappers{
  margin-bottom: 20px;
}
.spost,
.mpost {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dashed #E5E5E5;
}

.mpost {
  margin-top: 25px;
  padding-top: 25px;
}

.spost:first-child,
.mpost:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}

.spost .entry-image,
.mpost .entry-image {
  float: left;
  margin: 0 15px 0 0;
  text-align: center;
  width: 48px!important;
  height: 48px!important;
  overflow: hidden;
}

.spost .entry-image,
.spost .entry-image a,
.spost .entry-image img,
.spost .entry-image i {
  width: 100%;
}

.spost .entry-image a i,
.mpost .entry-image a i {
  font-size: 28px;
  line-height: 48px;
  color: #666;
  background-color: #EEE;
}

.spost .entry-title h4,
.mpost .entry-title h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.spost .entry-title h4 a,
.mpost .entry-title h4 a { font-size: 12px; color: #737373; font-family: Roboto; }

.spost .entry-title h4 a:hover,
.mpost .entry-title h4 a:hover { color: #F45793; }

.spost .entry-title h4 span,
.mpost .entry-title h4 span{
  display: block; font-family: Roboto; font-size: 11px; color: #B3B2B2; font-weight: 400;
}
.spost .entry-meta { margin: 8px -10px 0 0; }

.spost .entry-meta li,
.mpost .entry-meta li {
  font-size: 13px;
  margin: 0 10px 0 0;
}
.entry-image, .entry-image > a, .entry-image .slide a, .entry-image img{
  height: auto!important;
}


.modal input[type=radio] {
display: none;
}
.modal input[type=radio] + label {
padding-right: 15px;
}
.modal input[type=radio] + label::before {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
font-family: FontAwesome;
content: "\f10c";
padding-right: 5px;
}
.modal input[type=radio] + label:hover, input[type=radio] + label:active {
cursor: pointer;
}
.modal input[type=radio]:checked + label::before {
font-family: FontAwesome;
content: "\f192";
color: #F36198;
font-size: 15px;
font-weight: 300;
}

input[type=text],
input[type=url] {
border: none;
border-bottom: 1px solid #C1C1C1;
width: 100%;
margin: 10px 0;
padding: 5px 10px;
font-size: 15px!important;
font-weight: 600!important;
}
input[type=text] + label,
input[type=url] + label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-transition: all .3s ease;
        transition: all .3s ease;
position: absolute;
top: 50%;
left: 5px;
-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
font-weight: 300;
color: #ABABAB;
font-size: 13px;
/* text-transform: capitalize; */
font-family: Roboto;
}
input[type=text]:focus, input[type=text]:active,
input[type=url]:focus,
input[type=url]:active {
outline: none;
border-bottom-color: #F36198;
}
input[type=text]:focus + label, input[type=text] + label.labelHasText,
input[type=url]:focus + label,
input[type=url] + label.labelHasText {
top: 5px;
font-size: 12px;
font-weight: 700;
color: #F36198;
}

.modal, .modalproduct{
  position: relative;
  z-index: -1;
}

.modal-shade {
position: relative;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0, 0, 0, 0.7);
opacity: 0;
z-index: 10;
}

.modal , .modalproduct{
position: fixed;
left: 50%;
top: -100%;
width: 100%;
max-width: 600px;
-webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}
.modal label, .modalproduct label{
  color: #FBD3E2;
  font-size: 13px;
  font-family: Roboto;
}
.modal .modal-header, .modalproduct .modal-header {
padding: 10px 20px;
background-color: #F36198;
border-radius: 5px 5px 0 0;
text-align: justify !important;
-ms-text-justify: distribute-all-lines;
text-justify: distribute-all-lines;
font-size: 0;
}
.modal .modal-header::after, .modalproduct .modal-header::after  {
display: inline-block;
width: 100%;
content: "";
font-size: 0;
line-height: 0;
}
.modal .modal-header h1, .modalproduct .modal-header h1{
  color: #FFFFFF;
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  margin-bottom: 0;
}
.modal .modal-header .closeModalBtn, .modalproduct .modal-header .closeModalBtnProduct {
-webkit-transition: all .2s ease;
        transition: all .2s ease;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
display: inline-block;
width: auto;
vertical-align: middle;
font-size: 18px;
color: #FFFFFF;  
margin: 0;
border-radius: 3px;
text-transform: uppercase;
-webkit-transition: all .2s ease;
        transition: all .2s ease;
}

.modal .modal-header .closeModalBtn:hover, .modal .modal-header .closeModalBtn:active, .modal .modal-header .closeModalBtn:focus,
.modalproduct .modal-header .closeModalBtn:hover, .modalproduct .modal-header .closeModalBtn:active, 
.modalproduct .modal-header .closeModalBtn:focus  {
cursor: pointer;
}
.modal .modal-header .closeModalBtn:hover,
.modal .modal-header .closeModalBtn:active,
.modal .modal-header .closeModalBtn:focus,
.modalproduct .modal-header .closeModalBtn:hover,
.modalproduct .modal-header .closeModalBtn:active,
.modalproduct .modal-header .closeModalBtn:focus,
{
cursor: pointer;
}
.modal .modal-banner, .modalproduct .modal-banner {
padding: 10px 20px;
background: #fff;
}
.modal .modal-body-container, .modalproduct .modal-body-container{
position: relative;
background: #FFFFFF;
}
.modal .modal-body, .modalproduct .modal-body {
padding: 0 20px 10px 20px;
background: #FFFFFF;    
}
.modal .modal-body div, .modalproduct .modal-body div {
position: relative;
}
.modal .modal-footer, .modalproduct .modal-footer{
padding: 10px 20px;
background: #F1F1F1;
text-align: right; !important;
-ms-text-center: distribute-all-lines;
text-center: distribute-all-lines;
font-size: 0;
}
.modal .modal-footer::after, .modalproduct .modal-footer::after {
display: inline-block;
width: 100%;
content: "";
font-size: 0;
line-height: 0;
}
.modal .modal-footer #realFileUploadBtn, .modalproduct .modal-footer #realFileUploadBtn {
display: none;
}
.modal .modal-footer div, .modalproduct .modal-footer div{
display: inline-block;
width: auto;
vertical-align: middle;
font-size: 18px;
}
.modal .modal-footer div .footer-btn,
.modal .modal-footer div .footer-icon,
.modalproduct .modal-footer div .footer-btn,
.modalproduct .modal-footer div .footer-icon
{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
display: inline-block;
padding: 5px 14px;
margin: 0;
border-radius: 50%;
font-size: 30px;
font-weight: 500;
font-family: Roboto;
-webkit-transition: all .2s ease;
        transition: all .2s ease;
}
.modal .modal-footer div p i, .modalproduct .modal-footer div p i{
  color: #000!important;
}
.modal .modal-footer div i, .modalproduct .modal-footer div i{
  font-size: 28px;
  color: #C6C5C5;
}
.modal .modal-footer div .footer-btn:hover,
.modal .modal-footer div .footer-icon:hover,
.modalproduct  .modal-footer div .footer-btn:hover,
.modalproduct .modal-footer div .footer-icon:hover
  {
background: #e4e4e4;
}
.modal .modal-footer div .footer-btn:active,
.modal .modal-footer div .footer-icon:active {
background: #dbdbdb;
}
.modal .modal-footer div .footer-btn:focus,
.modal .modal-footer div .footer-icon:focus {
background: #e4e4e4;
}
.modal .modal-footer div .footer-btn:hover, .modal .modal-footer div .footer-btn:active, .modal .modal-footer div .footer-btn:focus,
.modal .modal-footer div .footer-icon:hover,
.modal .modal-footer div .footer-icon:active,
.modal .modal-footer div .footer-icon:focus,
.modal .modal-footer div i:hover {
cursor: pointer;
}
.modal .modal-footer div .footer-btn:last-child,
.modal .modal-footer div .footer-icon:last-child {
margin: 0 0 0 10px;
}

#url, #url2 {
display: none;
width: 100%;
position: absolute;
opacity: 0;
}

#file, #file2 {
display: none;
width: 100%;
position: absolute;
opacity: 0;
}
#file div, #file2 div {
margin-bottom: 20px;
}
#file table, #file2 table {
width: 100%;
}
#file table th, #file table td, #file2 table th, #file2 table td {
padding: 5px 10px;
}
#file table thead, #file table thead {
text-align: left;
border-bottom: 2px solid #F36198;
}
#file table tbody tr:not(:last-child) {
border-bottom: 1px dotted rgba(252, 110, 81, 0.2);
}
#file table tbody tr:hover {
background: rgba(252, 110, 81, 0.05);
}
#file table tbody i, #file table tbody label {
-webkit-transition: all .3s ease;
        transition: all .3s ease;
color: rgba(51, 51, 51, 0.6);
}
#file table tbody i:hover, #file table tbody i:active, #file table tbody i:focus, #file table tbody label:hover, #file table tbody label:active, #file table tbody label:focus {
color: #333333;
cursor: pointer;
}
#file table tbody input[type=radio] + label {
padding-right: 0;
}
#file table tfoot {
border-top: 2px solid #F36198;
}
#file a {
-webkit-transition: all .3s ease;
        transition: all .3s ease;
color: #333333;
text-decoration: none;
}
#file a:hover, #file a:active, #file a:focus {
text-decoration: none;
cursor: pointer;
color: #F36198;
}


.fileUpload {
  position: relative;
  overflow: hidden;
  display: block;
  text-align: center;
  padding: 60px 19px;
  border: 3px dashed rgba(244, 87, 147, 0.42);
  font-size: 20px;
  font-family: Roboto;
  font-weight: 700;
  z-index: 2;
  /* width: 50%; */
}
.fileUpload:hover{
  cursor: pointer;
}
.fileUpload input.upload {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  width: 100%!important;
  height: 100%!important;
  filter: alpha(opacity=0);
}
.fileUpload span{
   color: #5A5A5A;
  /*text-shadow: 0 0 15px #000;*/
}
.fileUploadText{
  margin:0 15px;
}
.fileUploadText input[type=text], .fileUploadText textarea{
  font-family: Roboto;
  font-weight: 500;
}


.wrapper-dropdown-5, .wrapper-dropdown-4, .wrapper-dropdown-3, .wrapper-dropdown-1 {
  /* Size and position */
  position: relative;
  width: 200px;    
  padding: 10px;  

  /* Styles */
  background: #fff;
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,0.15);    
  cursor: pointer;
  outline: none;

  /* Font settings */
  font-weight: bold;
  color: #787B7C;
  margin: 0 0 30px 0;
}
.wrapper-dropdown-3{
  float: right;
  margin-right: 140px;
}
.wrapper-dropdown-5:after, .wrapper-dropdown-4:after, .wrapper-dropdown-3:after, .wrapper-dropdown-1:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #EDC3D3  transparent;
}

.wrapper-dropdown-5 .dropdown, .wrapper-dropdown-4 .dropdown, .wrapper-dropdown-3 .dropdown, .wrapper-dropdown-1 .dropdown {
/* Size & position */
  position: absolute;
  top: 140%;
  left: 0;
  right: 0;
  z-index: 5;

  /* Styles */
  background: white;
  border-radius: inherit;
  border: 1px solid rgba(0,0,0,0.17);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-weight: normal;
/*    -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;*/
  list-style: none;

  /* Hiding */
  opacity: 0;
  pointer-events: none;
}

.wrapper-dropdown-5 .dropdown:after, .wrapper-dropdown-4 .dropdown:after, .wrapper-dropdown-3 .dropdown:after, .wrapper-dropdown-1 .dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 15px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #fff transparent;    
}

.wrapper-dropdown-5 .dropdown:before, .wrapper-dropdown-4 .dropdown:before, .wrapper-dropdown-3 .dropdown:before, .wrapper-dropdown-1 .dropdown:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown-5 .dropdown li a, .wrapper-dropdown-4 .dropdown li a, .wrapper-dropdown-3 .dropdown li a, .wrapper-dropdown-1 .dropdown li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #969798;
  border-bottom: 1px solid #e6e8ea;
  box-shadow: inset 0 1px 0 rgba(255,255,255,1);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.wrapper-dropdown-4 .dropdown li a:hover, .wrapper-dropdown-3 .dropdown li a:hover, .wrapper-dropdown-1 .dropdown li a:hover{
  cursor: pointer;
}
.wrapper-dropdown-4 .dropdown li i, .wrapper-dropdown-3 .dropdown li i, .wrapper-dropdown-1 .dropdown li i {
  float: right;
  color: inherit;
}

.wrapper-dropdown-4 .dropdown li:first-of-type a, .wrapper-dropdown-3 .dropdown li:first-of-type a, .wrapper-dropdown-1 .dropdown li:first-of-type a{
  border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-4 .dropdown li:last-of-type a, .wrapper-dropdown-3 .dropdown li:last-of-type a, .wrapper-dropdown-1 .dropdown li:last-of-type a {
  border: none;
  border-radius: 0 0 7px 7px;
}

/* Hover state */

.wrapper-dropdown-4  .dropdown li:hover a, .wrapper-dropdown-3 .dropdown li:hover a, .wrapper-dropdown-1  .dropdown li:hover a{
  background: #f3f8f8;
  cursor: pointer;
}

/* Active state */

.wrapper-dropdown-4 .active .dropdown, .wrapper-dropdown-3.active .dropdown, .wrapper-dropdown-1.active .dropdown  {
  opacity: 1;
  pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
  display: none;
  opacity: 1; /* If opacity support but no pointer-events support */
  pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
  display: block;
}

.fa-chevron-right{
  float: right;
  width: 38px;
  font-size: 25px!important;
  padding-top: 10px;
  color: #F1CBD9;
}


/* ================ DASHBOARD ================= */
#uploadItemBtn:hover, .uploadModalClose:hover{
  cursor: pointer;
}
.dashLink ul{
  margin-bottom: 0;
  text-align: center;
  margin-top: 5px;
}
.dashLink ul li i{
  display: block;
  font-size: 30px;
  text-align: center;
  color: #F4669C;
}
.dashLink ul li{
    margin: 0 4px;
}
.dashLink ul li a{
  font-size: 13px;
  color: #525252;
  font-weight: 500;
}
.dashLink ul li a:active{
  background-color: #F3F3F3;
}
.referralContainer{
  /*border-top: 1px solid #F2F2F2;*/
  padding: 10px 0 0 10px 0;
}
.referralContainer ul{
  margin-bottom: 0;
}
.referralContainer li a{
  font-size: 30px;
   margin: 0 2px;
}
.referralContainer li .fb{
  color: #3c5a99;
}
.referralContainer li .mail{
  color: #F692B8;
}
.referralContainer li .twitter{
  color: #16c5ff;
}
.referralContainer li .fb, .referralContainer li .mail{
  font-size: 35px;
  position: relative;
  top: 2px;
}
.referralContainer p{
    font-size: 14px;
    margin-bottom: 0!important;
}
.referralContainer a{
    font-family: Roboto;
    color: #F3639A;
    font-weight: 500;
}
.tabs.tabs-bb ul.tab-nav li.ui-tabs-active a{
   border-bottom: 2px solid #F45793;
}
.uploadModal{
  position: fixed;
  top: -100%;
  left: 25%;
  width: 100%;
  max-width: 600px;
  margin-top:10px;
  padding: 0;
  top: -100%;
}
.uploadModalClose{
  float: right;
    margin: 9px 10px;
    font-size: 15px;
    position: relative;
    z-index: 2;
    color: #fff;
}
.productUploadForm span{
    color: #7A7A7D;
    font-size: 13px;
    font-weight: 500;
}

.productUploadSubmit{
  background-color: #F45F98;
    border: 0;
    color: #fff;
    font-family: Roboto;
    font-weight: 700;
    padding: 6px 22px;
    font-size: 15px;
    border-radius: 20px;
}

.thumbGallery .col-md-3,  .thumbGallery .col-sm-4, .thumbGallery .col-xs-6 {
   padding: 0;
}

.wrappers h6{
    margin: 0;
    font-size: 13px;
    font-family: Roboto;
    padding: 14px 15px 14px 15px;
    color: #B7B7B7;
    font-weight: 500;
    background-color: #fff;
}
#image_container{
  overflow: hidden;
  clear: both;
  padding: 3px 0 0 3px;
}
#image_container .outer, #image_list .outer, #media_wrapper .outer{
  width: 162px;
  height: 150px;
  overflow: hidden;
  float: left;
  position: relative;
  border-right: 3px solid #E7E5E5;
  border-bottom: 3px solid #E7E5E5;
}
#image_container .inner, #image_list .inner, #media_wrapper .inner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /*set the width or max-width*/
    height: 100%; /*this makes sure to maintain the aspect ratio*/
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%);
} 
#image_container .inner img, #image_list .inner img, #media_wrapper .inner img{
  -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
      max-width: 300%!important;    
}

/* ============= HOME ================= */
.latestposttext{
    color: #838383;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 13px;
    top: 15px;
    /* letter-spacing: -1px; */
    font-family: Roboto;
    text-transform: uppercase;
}
.floatingCategory {
    position: absolute;
    padding: 8px 25px;
    z-index: 1;
    background-color: #ED568F;
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
}
.customMyPost .ipost{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DDDDDD;
}
.customMyPost{
    float: left;
    font-size: 13px;
    line-height: 14px;
    margin: 0 10px 15px 0;
    color: #999;
    font-family: Roboto;
    font-weight: 400;
}

.customMyPost .entry-content{
  padding: 5px 0;
}
.customMyPost .entry-title{
    width: 90%;  
    background-color: #fff;
    position: relative;
    padding-top: 10px;
}
.customMyPost .ipost .entry-title h3{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 45px;
}

.customMyPost .entry-title h3 a{
    font-size: 22px;
    font-weight: 600;
    color: #000;
    line-height: 25px;
    font-family: Roboto, Helvetica, arial, serif;
    /* letter-spacing: -1px; */
    transition: all 0.2s ease;
}
.customMyPost .entry-meta{
  margin-top: 15px!important;
}


/* ============ SINGLE =============== */

.entry{
  padding: 0;
  margin: 0;
  border-bottom: 0;
}
.entry-image{
  margin-bottom: 0;
}
.entry-content{
  padding: 10px 20px;
}
.single-post .entry-title{
  margin: 5px 15px 20px 15px;
}
.single-post .categ a{
  background-color: #F46299;
  color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
}
.entry-content h1{
  margin-bottom: 10px;
  font-family: Oswald;
  color: #000;
  font-size: 27px;
  letter-spacing: -1px;
}
.entry-content p{
  color: #191919;
  text-align: left!important;
  margin-bottom: 28px;
  font-weight: 500;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px!important;  
}
.entry-content h2{
    font-family: Roboto;
    color: #444444;
    font-size: 21px;
    margin-bottom: 10px;
}

.entry-title h2 {
  clear: both;
  display: block;
  padding: 10px 5px 0 5px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -1px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  width: 95%;
  text-transform: capitalize;
}
.entry-title .date, .entry-title .comment, .entry-title .categ{
    font-size: 13px;
    font-family: Roboto;
    color: #9E9E9E;
    font-weight: 400;
    padding: 5px;
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  position: relative;
  padding: 0;
  top: -8px;
/*  text-shadow: 0px 1px 0 #a2a2a2;*/
}
.star-ratings-css .star-ratings-css-top {
  color: #F9CA27;
  padding: 0;
  text-shadow: 0px 1px 0 #FFD401;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0px;
  overflow: hidden;
}
.star-ratings-css .star-ratings-css-bottom {
  z-index: 0;
}
.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}
.star-ratings-sprite .rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}
.playnowBtn{
  width: 80%;
  height: auto;
  text-align: center;
  margin: 5px 0 0 0;
  font-size: 17px;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-family: Roboto;
  font-size: 18px;
  text-shadow: 0 0 0;
  border-radius: 2px;
  font-weight: 400;
  border: 1px solid #121212;
  background: #f280aa;
  background: -moz-linear-gradient(top, #282727 0%, #101010 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#282727 ), color-stop(100%,#101010));
  background: -webkit-linear-gradient(top, #282727 0%,#101010 100%);
  background: -o-linear-gradient(top, #282727 0%,#101010 100%);
  background: -ms-linear-gradient(top, #282727 0%,#101010 100%);
  background: linear-gradient(to bottom, #282727 0%,#101010 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282727', endColorstr='#101010',GradientType=0 );
}
.playnowBtn:hover{
  background-color: #F25A94; 
}

/* ===== RATE ITEM MODAL ======= */
.rateEntry .imgRate:hover, .imgRateClose:hover{
    cursor: pointer;
}
.rateEntry{
    margin-bottom: 30px;
    overflow: hidden;
}
 .rateMenu{
    text-align: center;
    background-color: #fff;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
 }
.rateMenu li{        
    padding-right: 3px;
}
.rateMenu li span{
    font-size: 13px;
    font-weight: 600;
    color: #343030;
    padding: 9px 8px;
    border-radius: 3px;
    text-transform: uppercase;
}
.rateMenu li a img{
    display: none;
    width: 41px;
    padding: 2px;
    overflow: hidden;
    border-radius: 50%;
}   
.rateMenu li a.active span{
    background-color: #F3639A;
    color: #fff;
    padding: 5px;
}
#rateItem{
    position: fixed;
    z-index: 10;
    top: -500%;
    left: 20%;
    width: 850px;
    height: 620px;
    overflow: hidden;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 3px;
}
#rateItem .left{
    background-color: #000;
    height: 620px;
    line-height: 630px;
    overflow: hidden;
    text-align: center;
    -moz-box-shadow: inset 0 0 10px -4px #000;
    -webkit-box-shadow: inset 0 0 10px -4px #000;
    box-shadow: inset 0 0 15px -10px #000;
}
#rateItem .left img{
    vertical-align: middle;
}
#rateItem > .col-md-5, #rateItem > .col-md-7{
    padding: 0;
}
#rateItem .left .topBlack .user{
    float: left;
}
#rateItem .left .topBlack{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%; 
}
#rateItem .left .topBlack h2{
    margin-bottom: 0;
    color: #fff;
    font-size: 20px;
    padding: 5px;
}
#rateItem .left .topBlack img{
    border-radius: 50%;
    width: 30px;
    margin-top: 7px;
    margin-left: 10px;
}
#rateItem .left .topBlack span{
    margin-bottom: 0;
    float: right;
}
#rateItem .admireBox{
    background-color: #f45793;
    padding: 5px 20px;
    border-bottom: 1px solid #d93574;
    text-align: center;
}
#rateItem .admireBox h2{
    margin-bottom: 0;
    color: #fff;
    font-size: 30px;
    margin: 3px 0px;
    letter-spacing: -1px;
}
#rateItem .admireBox h2 span{
    color: #fddbe8;
    text-shadow: 0px 0px 4px #FCC1D7;
}
#rateItem .admireBox .meterWrapper2 {
    margin: -15px 30px 5px 30px;
}
#rateItem .admireBox ul{
    margin-bottom: 10px;
    padding: 0 10px;
}    
#rateItem .admireBox ul li, #rateItem .admireBox .listtwo li{
    padding: 0 3px;
}

#rateItem .admireBox .listtwo li a{            
    background-color: #FA68A0;
    border: 1px solid #FA87B2;
    padding: 3px 12px;
    color: #FFFFFF;
    border-radius: 30px;
    font-family: Roboto;
    font-size: 12px;
}
#rateItem .admireBox .listtwo li a i{
    color: rgb(247, 181, 206);
}
.pinkSeparator {
    border-top: 1px solid #eb4c89;
    border-bottom: 1px solid #f2659b;
    margin-bottom: 15px;
}
 #rateItem .admireBox  li a i.admired{
    color: rgb(247, 170, 200);
 }
 #rateItem .admireBox  li a i.dislike{
    color: rgb(234, 65, 130);
 }
#rateItem .admireBox  li span{
    color: #fff;
}
#rateItem .admireComment {
    overflow: hidden;
    border-bottom: 1px solid #ececec;
}
#rateItem .admireComment .meter{
    margin: 15px auto 0 auto;
    width: 80%;
}
#rateItem .admireComment .col_three_fifth, #rateItem .admireComment .col_two_fifth{
    padding: 5px 10px;
}
#rateItem .admireComment #coins_to_earn{
    font-family: Roboto;
    font-size: 12px;
    color: #BDBABA;
    display: block;
    text-align: center;
    margin: 6px 0;
}
#rateItem .admireComment .totalCoins{
    margin-left: 14px;
    font-weight: 400;
    color: #C5C5C5;
    display: block;
    margin-top: 1px;
    font-size: 11px;
}
#rateItem .admireComment .current_coins{
    font-size: 30px;
    font-weight: 600;
    color: #000;
    padding-left: 15px;
    margin-top: -7px;
    margin-bottom: 0;
}
#rateItem .commentWrapper h3{
    font-size: 20px;
    margin-top: 10px;
}
#rateItem .commentWrapper textarea{
    height: 40px;
    font-size: 13px;
}
#rateItem .commentWrapper .name a{
    font-size: 12px;
}
#rateItem .commentWrapper ul{
    max-height: 270px;
    overflow: auto;
}
.headerNotification{
    position:relative;
    color: #fff;
}
.headerNotification:hover{
    color: #fff;
    cursor: pointer;
}
.headerNotification .badge{
    position: absolute;
    top: -8px;
    left: 11px;
    font-size: 10px;
    padding: 4px 6px;
    background-color: #EF2F2F;

}
#shareBox{
    display: none; 
    position: absolute;
    background-color: #fff;
    z-index: 2;
    right: 25px;
    top: 141px;
    border-radius: 3px;
 /*     border-left: 1px solid #C3C3C3;
    border-right: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
  box-shadow: 0 0 10px 1px #D0D0D0;
*/    text-align: left;

}

#sendBox{
/*    display: none; 
    position: absolute;
    background-color: #fff;
    z-index: 2;
    right: 25px;
    top: 141px;
    border-radius: 3px;
    border-left: 1px solid #C3C3C3;
    border-right: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
    box-shadow: 0 0 10px 1px #D0D0D0;
*/  
    text-align: left;
}
#shareBox{
    width: 150px;
}
#sendBox{
    width: 300px;
}
#sendBox:before, #shareBox:before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;            
    border-width: 0 8px 8px 8px;
    border-style: solid;
}
#sendBox:before{
    right: 20px;
    border-color: #F1F1F1 transparent;
}
#shareBox:before{
    right: 65px;
    border-color: #fff transparent;
}
#sendBox input, #sendBox textarea{
    margin: 0;
    height: 45px;
    padding: 10px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    background-color: #F1F1F1;
    -moz-box-shadow: inset 0 -2px 10px -9px #464545;
    -webkit-box-shadow: inset 0 -2px 10px -9px #464545;
    box-shadow: inset 0 -2px 10px -9px #464545;
    font-size: 15px!important; 
    font-weight: 600!important;
}
#sendBox input{
    background-color: #fff;
    margin-top: -5px;
}
#sendBox .sendImgWrap{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px 10px;
    overflow: hidden;
    float: left;
}
#sendBox .itemTitle{
    color: #625D5D!important;
    font-family: Roboto!important;
    font-weight: 600!important;
    font-size: 17px;
    display: inline-block;
    margin-top: 5px;
}
#sendBox .friendlist, #shareBox .friendlist{
    overflow: hidden;
    background-color: #fff;
    padding: 0 0 10px 0;
}
#shareBox .friendlist{
    padding-bottom: 0;
}
#sendBox .friendlist .friendImg,  #shareBox .friendlist .friendImg{
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        float:left;
        margin-right: 10px;
}
#sendBox .friendlist ul, #shareBox .friendlist ul{
    padding: 0;
}
#shareBox .friendlist ul{
    margin-bottom: 0;
}
#sendBox .friendlist li a, #shareBox .friendlist li a{
    display: block;
    background-color: transparent!important;
    border: none!important;
    padding: 0!important;
    border-radius: 20px;   
    overflow: hidden;
    border-radius: 0!important;
    padding: 6px 10px!important;
    transition: background 0.3s ease;
}
#shareBox .friendlist li a{
    padding: 10px!important;
    color: #fff!important;
    border-radius: 3px!important;
    overflow: hidden;
    margin: 2px 0;
}
#shareBox .friendlist li a i{
    color: #fff!important;
    font-size: 20px!important;
}
#shareBox .friendlist li a  span{
    margin-left: 10px;
    position: relative;
    top: -3px;
    font-size: 14px;
}
#shareBox .friendlist li a p{
    margin-top: 0;
}
#shareBox .friendlist li a.follow{
   background-color: #3b5998!important;
}
#shareBox .friendlist li a.fb{
    background-color: #E4266F!important;
}
#shareBox .friendlist li a.fb:hover,
#shareBox .friendlist li a.fb:active{
    background-color: #4F70B6!important;
}
#shareBox .friendlist li a.twtr{
    background-color: #2DACFF!important;
}
#shareBox .friendlist li a.twtr:hover,
#shareBox .friendlist li a.twtr:active{
    background-color: #6EBDF0!important;
}
#shareBox .friendlist li a.pinterest{
    background-color: #C72527!important;
}
#shareBox .friendlist li a.pinterest:hover,
#shareBox .friendlist li a.pinterest:active{
    background-color: #DA3739!important;
}
#sendBox .friendlist li a:hover, #shareBox .friendlist li a:hover{
    background-color: #eee!important;
}        
#sendBox .friendlist p, #shareBox .friendlist p{
    margin-bottom: 0;
    font-size: 12px;
    color: #161515;
    font-family: Roboto;
    margin-top: 10px;
    font-weight: 500;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

