#contentMainWrapper{
	background-color: rgba(255, 255, 255, 0.94);
	overflow: hidden;    
    border-radius: 2px;
    margin: 10px 20px;
    border-bottom: 1px solid #D4D4D4;
}
.dark .table-striped > tbody > tr:nth-child(odd) > td, .dark .table-striped > tbody > tr:nth-child(odd) > th, .table-striped > tbody > tr:nth-child(odd){
	background-color: rgba(95, 87, 132, 0.05)!important;
}
.side-header #header{
	width: 235px;
	-moz-box-shadow: 0 0 16px -3px rgba(0, 0, 0, 0.44);
	-webkit-box-shadow: 0 0 16px -3px rgba(0, 0, 0, 0.44);
	box-shadow: 0 0 16px -3px rgba(0, 0, 0, 0.44);
}
.side-header #header .container {
    width: 240px !important;
}
.side-header:not(.open-header) #wrapper .container{
	margin: 0;
	padding: 0;
}
.topmostMenu{	
	background-color: #fff;
	border-bottom: 1px solid #C7C7C7;
	position: fixed;
  width: 83%;
  z-index: 2;
}
.topmostMenu .quickList{
	list-style: outside none none;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 20px;
}
.topmostMenu .quickList li a i{
	margin-right: 3px;
}
.topmostMenu .quickList li .dropdown-toggle{
	color: #838383;
	padding: 5px 15px !important;	
	border-radius: 20px;
	font-weight: 600;
	font-size: 13px;

	text-transform: uppercase;
}
.topmostMenu h2{
	font-family: Roboto, Helvetica, Impact, Arial;
    border-top: 1px solid #efefef;
    color: #C1BEBE;
    margin-bottom: 0;
    padding: 15px 25px;
    font-size: 24px;
    font-weight: 700;
}
.topmostMenu h2 i{
	color: #E1E1E1;
    font-size: 20px;
   	margin-right: 2px;
}

#adminSearch{
	background-color: #fff;
  border: 0;        
  color: #000;
  padding: 5px 10px;
  border: 1px solid #E5E2E2;
  border-radius: 30px !important;
  margin-right: 10px;
  margin-left: 20px;    
}

.table > thead > tr > td{
	padding: 10px 8px!important;
  font-size: 14px;    
  color: #787474;   
  font-size: 13px; 
}
.table tr td{
	border-top: 1px solid #f1f1f1;
}
.inlinedList ul li{
	font-weight: 700
}
.inlinedList ul li a i{
	margin-right: 2px;
}

.tt-menu{
  border: 1px solid rgb(221, 221, 221);
  width: 100%;
  padding: 5px;
  background-color: rgb(255, 255, 255);
}
.tt-dataset{
  padding: 5px;
}
.tt-suggestion{
  padding:3px 0;
  color: #000;
}
.tt-suggestion:hover{
  cursor: pointer;  
}
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 55px;
  height: 25px;
  background-color: #D8D8D8;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #E8E7E7;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 24px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #9C0404;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 29px;
}

/* =============== CSS LOADER ========================== */
.cssload-loader {
  display: block;
  margin:0 auto;
  width: 29px;
  height: 29px;
  position: relative;
  border: 4px solid rgb(0,0,0);
  animation: cssload-loader 2.3s infinite ease;
    -o-animation: cssload-loader 2.3s infinite ease;
    -ms-animation: cssload-loader 2.3s infinite ease;
    -webkit-animation: cssload-loader 2.3s infinite ease;
    -moz-animation: cssload-loader 2.3s infinite ease;
}

.cssload-loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: rgb(0,0,0);
  animation: cssload-loader-inner 2.3s infinite ease-in;
    -o-animation: cssload-loader-inner 2.3s infinite ease-in;
    -ms-animation: cssload-loader-inner 2.3s infinite ease-in;
    -webkit-animation: cssload-loader-inner 2.3s infinite ease-in;
    -moz-animation: cssload-loader-inner 2.3s infinite ease-in;
}


@keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-o-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-ms-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-webkit-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-moz-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

/* =============== COMMENTS ================= */
.commentsSubLinks ul{  
    margin-left: 15px;
    margin-top: 60px;
    margin-bottom: 15px;    
}
.commentsSubLinks ul li a{
    color: #757575;
    font-weight: 500;
    font-size: 14px;    
    padding: 3px 10px;
    border-radius: 20px;    
    transition: background 0.2s ease-out;
}
.commentsSubLinks ul li{
  padding-right: 0;
}
.commentsSubLinks ul li a i{
    color: #A8A0A0;
    margin-right: 2px;
}
.commentsSubLinks ul li a.active{
    background-color: #9C0404;
    color: #FFF;
}
.commentsSubLinks ul li a.active i{
    color: #fff;
}
.commentsSubLinks ul li a:hover, .commentsSubLinks ul li a:active, .commentsSubLinks ul li a:focus{
    background-color: #CACACA;
    color: #fff;
}
/* =============== ADMIN PAGE =============== */
.sub-menu:hover{
	cursor: pointer;
}
input[type=text], input[type=email], input[type=password], textarea{
	border-radius: 3px!important;
}
.btn{
	background-color: #000!important;
	color: #fff!important;
	border:none!important;
	border-radius: 2px!important;
}
.content-wrap{
	padding: 0;
}
h3{
    color: #9C9C9C;
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0 10px 0;	
}
.adminTitle{
	color: #D9D4D4;
    font-size: 35px;
    padding: 0 20px;
    margin-top: 56px;
    overflow: hidden;
}
.adminTitle span{
	float:right;
	color: #efefef!important;
}
.adminTitle a{
	font-size: 16px;
    padding: 10px;    
    position: relative;
    top: -3px;
}
.adminTitle a i{
    color: #C9C8C8;
    margin-right: 2px;
}
.externalLinks{
	margin: 3px 0px;
	padding: 10px 20px;
}
.externalLinks ul{
	list-style: none;
	margin-bottom: 0;
	text-align: right;
}
.externalLinks ul li{
	display: inline-block;
}
.externalLinks ul li a{
	color: #FFF;
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
}
.externalLinks ul li a i{
	margin-right: 5px;
	color: #D4D1D1;
}
.panel{
	 border-bottom: 1px solid #AFAFAF;
}
.panel-heading{
	padding: 5px 15px;
}

.panel-title{
  font-size: 12px;
  color: #BB0C0C;
  font-weight: 700;
  text-transform: uppercase;
}
.panel-default > .panel-heading{
    border-bottom: 0;    
    padding: 10px;
    border-radius: 0;	
    background: transparent;
    text-align: center;
}
.controls{
	padding: 5px 10px;
    font-size: 13px;
    color: #000;
}
.controls span{
    font-size: 13px;
    display: block;
    color: #B7B7B7;
    font-weight: 500;
}

#image_container, #image_list{
	clear: both;
	overflow: hidden;
	padding: 0 20px;		
}

#image_container img:hover, #image_list img:hover{
	cursor: pointer;
}
#image_container .outer, #image_list .outer, #media_wrapper .outer{
	width: 150px;
	height: 150px;
	overflow: hidden;
	float: left;
	position: relative;
	border: 1px solid #E5E5E5;
    margin: 3px 2px;
}
#image_container .inner, #image_list .inner, #media_wrapper .inner{
	position: absolute;
	top: 0;
	left: 0;
 	width: 100%; /*set the width or max-width*/
    height: 100%; /*this makes sure to maintain the aspect ratio*/
    -webkit-transform: translate(50%,50%);
	  -ms-transform: translate(50%,50%);
	  transform: translate(50%,50%);
}	
#image_container .inner img, #image_list .inner img, #media_wrapper .inner img{
	-webkit-transform: translate(-50%,-50%);
	  -ms-transform: translate(-50%,-50%);
	  transform: translate(-50%,-50%);
	    max-width: 300%!important;	  
}
.remove_image{
	background-color: #000;
    overflow: hidden;
    height: 20px;
    width: 20px;
    color: #fff;
    display: block;
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    font-weight: 700;
    float: right;
}
.remove_image:hover, .remove_image:active, .remove_image:focus, .remove_image:visited{
	color: #fff;
}

.cke_editable{
	font-size: 14px!important;    
    font-family: Roboto!important;
}
.pagination{
  margin: 20px;
}
.pagination > li > a, .pagination > li > span{
  border:none;
  border-radius: 50%;
  margin-left: 3px;
}
.pagination > li > a, .pagination > li > span{
  color: #000000;
  font-weight: 700;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: 50%;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
  color: #000;
}

/* =============== POST PAGE =============== */
.adminPosts td{
	color: #6D6D6D;
	font-size: 15px;
  font-weight: 500;
  padding: 15px 10px!important;
  border-top: 0!important; 
}
.adminPosts td a{
    color: #B40707;
    font-weight: 500;
    font-size: 15px;  
}

.adminPosts .subTD{
    font-size: 12px;
    font-weight: 400;
}

/* =============== EDIT POST PAGE =============== */
.modal-dialog{
	width: 1000px;
}
.modal-content{
	border-radius: 2px;
}
.panel-body, .panel-heading{
	padding: 0;
}
.panel-title i{
  font-size: 17px;
}
.featImageButton{
	position: relative;
    top: 2px;
    left: 5px;
}
.control-group{
    margin-bottom: 10px;
}
#img_here{
  padding: 5px;
}
.newPostBox{
	font-size: 20px;
    height: auto;
    color: #000;
    border-radius: 0;
    font-weight: 500!important;
    font-family: Roboto;
}
.excerptBox{
	width: 100%;
    height: 100px;
    border-color: #D5D5D5;
    padding: 5px 10px;
}

#copyscape{
	margin-top: 20px;
    font-size: 13px;
    color: #000;
}

#media_wrapper{
	overflow: hidden;
    margin-top: 30px;
}
.fileuploader{
	display: block;	
	margin: 0 20px 20px 20px;
}
.ajax-upload-dragdrop{
	width: 100%!important;
    border: 4px dashed #ddd;
    padding: 20px;
    text-align: center;
}
.ajax-file-upload{
	font-size: 20px;
}
.ajax-file-upload-filename{
	font-size: 12px;
    margin-top: 5px;
}
.ajax-file-upload-error, .ajax-file-upload-red, .ajax-file-upload-green, .ajax-file-upload-abort{	
    color: #fff;
    display: inline-block;
    padding: 5px;
}
.ajax-file-upload-error, .ajax-file-upload-red{
	background-color: #C40303;
}
.ajax-file-upload-abort{
	background-color: #EEC124;
}
.ajax-file-upload-abort:hover{
	cursor: pointer;
}

.badge{
    background-color: #C82222;
    margin-left: 5px;
    position: relative;
    top: -2px;
    padding: 3px 5px;
}